.NavBar{
    display: flex;
    justify-content: space-between;
}
.s1{
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.s2{
    color: #0BBEF2;
    font-weight: 900;
}
.links{
    color: white;
    text-decoration: underline;
}
.links:hover{
    opacity: 40%;
    color: white;
}
.btn2{
    background-color: transparent;
    color: white;
    opacity: 100%;
    width: 100px;
    margin-top: 10%;
    margin-right: 10px;
}
.btn2:hover{
    color: black;
    opacity: 90%;
    background: white;
}